.square {
  background-color: white;
  height: 70px;
  width: 70px;
  border: solid 1px;
}

.row {
  display: flex;
  justify-content: center;
  width: 210px;
}

.status {
  margin: 30px;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: column;
  height: 210px;
  width: 210px;
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-info {
  margin-left: 80px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}